body{
    background: map-get($bg_color , body_bg); 
}
.container{
    @include scrollbar(hidden,auto);
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 100px;

    @include mw_xs{
        padding-top: 100px;
    }
}
.content {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.line_pop{
    position: fixed;
    right: 25px;
    bottom: 25px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: url(../image/icon/icon_line.svg)no-repeat center center/cover;
    animation: float 2s linear infinite ;

    @include mw_xs{
        width: 40px;
        height: 40px;
    }
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    background: map-get($bg_color , header_bg );
    padding: 0 20px;
    box-shadow: 0 2px 2px 0 map-get($bg_color , header_bg);

    section{
        @include d_f(flex, center, space-between);
        .logo {
            flex: none;
            a{
                display: block;
                width: 80px;
                height: 80px;
            }
            
            img {
                width: 100%;
                height: 100%;
            }
        }
        .header_btn{
            @extend %hand;
            display: block;
            position: relative;
            padding: 10px 15px;
            background: map-get($btn_color , orange);
            color: map-get($txt_color , white);
            font-size: 16px;
            border-radius: 50px;
            overflow: hidden;

            &::before{
                @include pos_a(rb,100%,-70%);
                content:'';
                display: block;
                width: 15px;
                height: 100px;
                background: map-get($bg_color , white );
                opacity: .5;
                box-shadow: 0 0 3px 2px map-get($bg_color , white);
                transform: translateX(-20px) rotate(45deg);
                animation: flash 0.8s ease-in-out infinite;
            }


            @include hoverHandler {
                background: map-get($btn_color , gray);
            }

            @include mw_xs {
                padding: 5px 10px;
                font-size: 14px;
            }
        }
    }

    @include mw_xs{
        padding-bottom:5px;
    }
}
//header選單

.index_tittle{
    display: block;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: map-get($txt_color , second);
    text-align: center;

    @include mw_xs {
        font-size: 20px;
    }
}
.banner{
    .content{
        text-align: center;
        width: 100%;
        height: 300px;
        background: url(../image/banner.jpg)no-repeat center center / contain;
        h1{
            font-size: 80px;
            font-weight: bolder;
            color:map-get($txt_color, primary);
            letter-spacing: 5px;
        }   
        h2{
            font-size: 40px;
            font-weight: bolder;
            color: map-get($txt_color, second);
            letter-spacing: 5px;
            margin-top: 10px;
        }

        @include mw_md {
            height: 220px;
            h1 {font-size: 50px;}
            h2 {font-size: 30px;}
        }
        @include mw_xs {
            height: 120px;
            h1{font-size: 30px; }
            h2{font-size: 14px;}
        }
    }
}

//關於我們區塊
section.--about{
    position: relative;
    background:url(../image/about_bg.jpg)no-repeat center center /cover;
    padding: 100px 20px;
    margin:50px 0 100px;
    @include mw_xs{
        padding: 50px 10px;
        margin:30px 0 50px;
    }
}
.pic_info {
    @include pos_a(br, 0);
    color: map-get($txt_color , white);
}

.about{
    padding: 10px 20px;
    background:map-get($bg_color , whiteshadow);
    border-radius: 10px;
    text-align: center;
    
    article {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1px;
        color:map-get($txt_color, primary );
        margin-bottom: 50px;
        @include mw_xs{
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 20px;
        }
    }

    button{
        @extend %hand;
        background: map-get($btn_color , primary);
        color:map-get($txt_color , white);
        padding: 10px 0;
        width: 100px;
        border-radius: 50px;

        @include hoverHandler{
            background: map-get($btn_color , gray);
        }
    }
}
section.--product{
    .list{
        margin-bottom: 100px;
        li {
            @include d_f(flex, center, center);
            padding: 10px 20px;
            background: map-get($bg_color , second);
            color: map-get($txt_color , white);
            letter-spacing: 1px;
            position: relative;
            font-size: 24px;
    
            &::before {
                content: '';
                display: inline-block;
                width: 15px;
                height: 15px;
                background: url(../image/icon/icon_wrench.svg)no-repeat center center/contain;
                margin-right: 10px;
            }
    
    
            @include hoverHandler {
                background: map-get($bg_color , orange);
            }
        }
        li+li{
            margin-top: 10px;
        }
        @include mw_xs{
            margin-bottom: 50px;
            li{
                font-size: 16px;
                padding: 10px;
            }
        }
    }
    .product_pic{
        width: 100%;
        height: 500px;
        background: url(../image/cnc_metal.jpg)no-repeat center center/contain;
        margin-bottom: 50px;

        @include mw_md {
            height: 300px;
        }
        @include mw_xs{
            height: 200px;
        }
    }
}
.product{
    @include d_f(flex,flex-start,space-around);
    flex-wrap: wrap;
    margin-bottom:100px;
    //.product__item
    &__item{
        @extend %hand;
        width: 300px;
        margin: 5px;
        //.product__item__pic
        &__pic{
            display: block;
            width: 100%;
            margin: 0;
            img{width: 100%;}
            figcaption{display: none;}
        }

        @include hoverHandler{
            transform: scale(1.05);
        }
    }

    @include mw_xs{
        margin-bottom: 50px;
        &__item{
            width: 100%;
            margin: 10px 0;
        }
    }
}

footer{
    padding: 50px 20px;
    background: map-get($bg_color , primary);
    color: map-get($txt_color , white);
    font-size: 16px;
    .footer{
        @include d_f(flex,flex-start,space-between);
        //.footer__left
        &__left{
            .tel{
                display: block;
                font-size: 30px;
                font-weight: bolder;
                letter-spacing: 1px;
                margin-bottom: 10px;

                @include hoverHandler{
                    color:map-get($txt_color , second);
                }
            }
            //.footer__left__item
            &__item{
                @include d_f(flex,center,flex-start);
                &::before{
                    content:'';
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin-right:10px;
                }
                &.--mail::before{
                    background: url(../image/icon/icon_mail.svg)no-repeat center center/contain;
                }
                &.--phone::before{
                    background: url(../image/icon/icon_phone.svg)no-repeat center center/contain;
                }
                &.--address::before{
                    background: url(../image/icon/icon_house.svg)no-repeat center center/contain;
                }

                @include hoverHandler {
                    color: map-get($txt_color , second);
                }
            }
            .footer__left__item+.footer__left__item {margin-top: 10px;}
        }
        //.footer__mid
        &__mid{
            //.footer__mid__list
            &__list{
                li{
                    @extend %hand;
                    font-size: 16px;

                    @include hoverHandler{
                        color:map-get($txt_color , second);
                    }
                }
                li + li{margin-top: 10px;}
            }
            @include mw_xs{
                display: none;
            }
        }
        //.footer__right
        &__right{
            padding-right: 60px;
            .line{
                text-align: center;

                h3{
                    @include d_f(flex,center,flex-start);
                    margin-bottom: 10px;
                    &::before{
                        content:'';
                        display: block;
                        margin-right: 5px;
                        width: 25px;
                        height: 25px;
                        background: url(../image/icon/icon_line.svg)no-repeat center center/cover;
                    }
                }
                //.line__pic
                &__pic{
                    @extend %hand;
                    display: inline-block;
                    width: 100px;
                    height: 100px;
                    background: url(../image/line.jpg)no-repeat center center/contain;

                    @include hoverHandler {
                        box-shadow: 0 0 4px 0 map-get($bg_color , body_bg);
                    }
                }
            }
            @include mw_xs{
                display: none;
            }
        }
        
    }
    @include mw_xs{
        padding: 20px 10px;
        text-align: center;
        .footer{
            justify-content: center;
        }
    }
}