body{
    background: map-get($bg_color , body_bg); 
}
header{
    width: 100%;
    background: map-get($bg_color , primary );
}

.swiper {
    width: 100%;
    height: 300px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}