@keyframes flash {
    0% {
        transform: translateX(-20px) rotate(45deg);
    }

    100% {
        transform: translateX(130px) rotate(45deg);
    }
}

@keyframes float{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-10px);
    }

    75%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    }
}