$bg_color:(
    primary:#3C3C3C,
    second:#007ACC,
    body_bg:#eeeeee,
    blue:#0099FF,
    lightgray:#f5f5f5,
    bringgray:#B0B0B0,
    gray:#555555,
    grayblue:#D9E6F2,
    white:#ffffff,
    whiteshadow:#ffffffb1,
    orange:#FF6F00,
);

$txt_color:(
    primary:#3C3C3C,
    second:#007ACC,
    white:#ffffff,
    black:#000000,
    gray:#555555,
    grayblue:#D9E6F2,
);

//按鈕顏色
$btn_color:(
    primary:#3C3C3C,
    gray:#222222,
    orange:#FF6F00,
);

//背景顏色
@each $name, $background in $bg_color{
	.bg_#{$name}{
		background:$background !important; 
	}
}

//字體顏色
@each $name, $value in $txt_color{
	.txt_#{$name} {
		color:$value !important;
	}
}
